---
name: Test

on:
  schedule:
    - cron: '15 0 * * 2,4,6'
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Run repo.sh --test
        run: ./repo.sh --test
